* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #fdfdfd;
}


.landing-section {
    position: relative;

    .grad {
        z-index: -1;
        position: absolute;
    }

    .left-grad {
        top: -70px;
        left: -70px;

    }

    .right-grad {
        top: 80vh;
        right: -100px;
    }

    .navbar {
        padding: 10px;

        nav {
            padding-top: 30px;
            display: flex;
            justify-content: space-around;

            .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;

                a {
                    text-decoration: none;
                    display: flex;

                    .image {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        img {
                            width: 50px;
                        }
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding-left: 10px;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 200;
                        color: #1C1C26;

                        @media screen and (max-width:1000px) {
                            display: none;
                        }
                    }
                }
            }

            .link {
                display: flex;
                flex-direction: column;
                justify-content: center;

                ul {
                    display: flex;
                    list-style: none;

                    li {
                        padding: 0px 15px;

                        a {
                            text-decoration: none;
                            color: #787994;
                            font-family: 'Poppins', sans-serif;
                            font-size: 18px;

                            &:hover {
                                color: #1C1C26;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;

                a {
                    text-decoration: none;
                    background: #FA3654 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    opacity: 1;
                    box-shadow: 0px 20px 45px #FA365466;
                    padding: 10px 20px;
                    color: #FFFFFF;
                    font-family: 'Poppins', sans-serif;
                    border: 3px solid #FA3654;
                    transition: background-color 0.4s;
                    font-size: 16px;

                    &:hover {
                        color: #FA3654;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        transition: background-color 0.4s;
                    }
                }
            }
        }
    }

    .landing-data {
        min-height: 80vh;
        display: flex;
        justify-content: center;

        .text {
            flex: 1;
            padding: 0px 50px 0px 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                // font-family: 'ambar';
                font-family: 'Poppins', sans-serif;
                font-weight: bolder;
                font-size: 48px;
                color: #1C1C26;

                span {
                    color: #FA3654;
                    position: relative;

                    img {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 200px;
                    }
                }
            }

            p {
                padding: 20px 0px;
                color: #787994;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                text-align: left;
            }

            div {
                padding-top: 20px;

                a {
                    text-decoration: none;
                    background: #FA3654 0% 0% no-repeat padding-box;
                    border-radius: 5px;
                    opacity: 1;
                    padding: 10px 40px;
                    color: #FFFFFF;
                    font-family: 'Poppins', sans-serif;
                    border: 3px solid #FA3654;
                    transition: background-color 0.4s;
                    font-size: 16px;
                    margin: 0px 20px 0px 0px;
                    box-shadow: 0px 20px 45px #FA365466;

                    &:hover {
                        color: #FA3654;
                        background: #FFFFFF 0% 0% no-repeat padding-box;
                        transition: background-color 0.4s;
                    }
                }

                #al {
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    color: #787994;
                    border-color: #787994;
                    padding: 10px 12px;
                    margin: 0px 0px 0px 20px;
                    box-shadow: 0px 0px 0px #FA365466;

                    &:hover {
                        color: #FFFFFF;
                        background-color: #787994;
                    }

                }
            }
        }

        .image {
            flex: 1;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 500px;
            }
        }
    }
}









// stat section

.stat-section {
    position: relative;
    padding: 50px 10px;
    display: flex;
    justify-content: center;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 48px;
            font-weight: lighter;
            color: #787994;
            font-family: 'Poppins', sans-serif;
        }

        h3 {
            font-family: 'Poppins', sans-serif;
            font-weight: lighter;
            font-size: 18px;
            padding-left: 5px;
            color: #787994;
        }

        padding-right: 100px;
    }

    .data-container {
        display: flex;
        justify-content: space-around;

        .data {
            padding: 0px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 48px;
                font-weight: 800;
                color: #1C1C26;
                font-family: 'Poppins', sans-serif;
            }

            h3 {
                font-family: 'Poppins', sans-serif;
                font-size: 18px;
                color: #787994;
            }

        }
    }
}


// about us section

.about {
    .left-about-grad {
        position: absolute;
        top: 0px;
        left: -70px;

    }

    .right-about-grad {
        top: 50vh;
        right: -300px;
        position: absolute;
    }

    padding: 150px 20px 100px 20px;
    display: flex;
    justify-content: center;
    position: relative;

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;

        img {
            width: 400px;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;

        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 48px;
            font-weight: 800;
            color: #4445ED;
            padding-bottom: 20px;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            color: #787994;
            padding-bottom: 20px;
        }

        .button {
            padding-top: 40px;

            a {
                text-decoration: none;
                background: #2DB58D 0% 0% no-repeat padding-box;
                border-radius: 5px;
                opacity: 1;
                padding: 10px 40px;
                color: #FFFFFF;
                font-family: 'Poppins', sans-serif;
                border: 3px solid #2DB58D;
                transition: background-color 0.4s;
                font-size: 16px;
                box-shadow: 0px 20px 45px #28BD9966;

                &:hover {
                    background-color: #FFFFFF;
                    color: #2DB58D;
                    transition: background-color 0.4s;
                }
            }
        }
    }
}




// offerings(what we have)

.offerings {
    padding: 20px;
    position: relative;

    .bub-grad {
        top: 50px;
        display: flex;
        justify-content: center;
        width: 100vw;
        z-index: 2;
        position: absolute;

        img {
            width: 700px;
        }
    }

    h1 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
        font-weight: 800;
        color: #1C1C26;
        padding-bottom: 20px;
        padding: 50px 0px;

        span {
            color: #FA3654;
            position: relative;

            img {
                position: absolute;
                bottom:6px;
                right: 0;
                width: 140px;
            }
        }
    }

    .content {
        z-index: 1;
        padding:100px 150px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

        .data{
            display: flex;
            justify-content:space-around;
            .image{
                display: flex;
                flex-direction: column;
                justify-content: center;
                img{
                    width:250px;
                }
            }

            .text{
                display: flex;
                flex-direction: column;
                h3{
                    font-family: 'Poppins', sans-serif;
                    font-size: 24px;
                    font-weight: 800;
                    color: #1C1C26;
                    padding-bottom: 10px;
                }

                p{
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    color: #787994;
                }
            }
        }
    }
}


.gallery{
    padding: 100px 20px;
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 500;
        color: #1C1C26;
        text-align: center;

        span{
            color: #FA3654;
        }
    }

    h1{
        font-family: 'Poppins', sans-serif;
        font-size: 64px;
        font-weight: 800;
        color: #1C1C26;
        padding-bottom: 10px;
        text-align: center;
        span{
            position: relative;
            color: #FA3654;;
            img{
                position: absolute;
                bottom:0;
                right: 0;
                width: 250px;
            }
        }
    }

    .container{
        .swiper-container {
            width:80%;
            padding-bottom: 50px;

            .swiper-wrapper{
                .swiper-slide{
                    border-radius: 10px;
                    background-position:center;
                    background-size:cover;
                    background-repeat: no-repeat;
                    width: 400px;
                    height:300px;
                }
            }
        }
    }
}