* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent tap highlight color / shadow */
  -webkit-user-select: none;
}

.nav-area {
  position: fixed;
  width: 100%;
}
.nav-area nav .navbar {
  background-color: rgba(255, 241, 241, 0.9);
  display: flex;
  justify-content: space-around;
  padding: 0px 20px;
  border-bottom: 3px solid rgba(255, 221, 221, 0.9);
}
.nav-area nav .navbar .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-area nav .navbar .logo a {
  padding: 10px 0px;
}
.nav-area nav .navbar .logo a img {
  width: 70px;
}
.nav-area nav .navbar .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-area nav .navbar .links ul {
  display: flex;
  list-style: none;
}
.nav-area nav .navbar .links ul li a {
  text-decoration: none;
  font-family: "David Libre", serif;
  font-size: 18px;
  color: #ff8f8f;
  padding: 10px 20px;
  transition: color 0.4s;
}
.nav-area nav .navbar .links ul li a:hover {
  color: #5d00a8;
  transition: color 0.4s;
}
.nav-area nav .navbar .burger {
  display: none;
  flex-direction: column;
  justify-content: center;
}
.nav-area nav .navbar .burger i {
  color: #ff8f8f;
  padding: 20px;
  border-radius: 50%;
}
.nav-area nav .navbar .burger i:hover {
  color: #5d00a8;
}
@media screen and (max-width: 790px) {
  .nav-area nav .navbar {
    justify-content: space-between;
  }
  .nav-area nav .navbar .logo a img {
    width: 50px;
  }
  .nav-area nav .navbar .links {
    justify-content: space-between;
    position: absolute;
    top: 77px;
    right: -100vw;
    transition: right 0.4s;
    background-color: rgba(255, 241, 241, 0.9);
    width: 70%;
    min-height: 100vh;
    height: 100%;
    border-left: 3px solid rgba(255, 221, 221, 0.9);
  }
  .nav-area nav .navbar .links ul {
    display: block;
    text-align: center;
  }
  .nav-area nav .navbar .links ul li {
    padding: 15px 0px;
    border-bottom: 2px solid rgba(253, 235, 235, 0);
  }
  .nav-area nav .navbar .links ul li a {
    font-size: 24px;
    color: #ff8f8f;
  }
  .nav-area nav .navbar .links ul li a:hover {
    color: #5d00a8;
  }
}
@media screen and (max-width: 790px) and (max-width: 370px) {
  .nav-area nav .navbar .links ul li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 790px) {
  .nav-area nav .navbar .links ul li:hover {
    background-color: rgba(255, 232, 232, 0.9);
    border-bottom: 2px solid rgba(255, 221, 221, 0.9);
  }
}
@media screen and (max-width: 790px) {
  .nav-area nav .navbar .burger {
    display: flex;
  }
}

#coverAll {
  width: 100%;
  height: 100%;
  opacity: 0.95;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: rgba(131, 108, 108, 0.5);
  overflow: auto;
}

body {
  height: 200vh;
}

/*# sourceMappingURL=nav.css.map */
