a{
    color:antiquewhite;
    text-decoration: none;
}

.socialmedia{
    display: flex;
    flex-direction: row;
}

.socialmedia img{
    width: 80%;
}

.facebookIcon, .instagramIcon, .linkedinIcon {
    font-size: 30px;
    margin-right: 10px; 
}

.facebookIcon:hover, .instagramIcon:hover, .linkedinIcon:hover {
    color: #FED853;
}