/* Force object-position: right for AdvancedImage on mobile */
@media (max-width: 640px) {
  .custom-object-right-mobile img {
    object-position: 85% !important;
  }
}

.glass-morphism {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.372);
}
