@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@layer base {
}

html,
body {
  font-family: "Sora", sans-serif;
  overflow-x: hidden;
}

@tailwind utilities;

@layer utilities {
  .glass-morphic {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.372);
  }
  .about-morphic {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.372);
  }
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border: 0px none #ffffff;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a644f;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 3px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
